{% extends "forum/baseforum.html" %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    {% if post.author.userprofile.profile_picture %}
                        <img class="mr-3 rounded-circle" src="{{ post.author.userprofile.profile_picture.url }}" alt="Profile Image" width="50" height="50">
                    {% else %}
                        <img class="mr-3 rounded-circle" src="{% static 'default_profile.png' %}" alt="Default Profile Image" width="50" height="50">
                    {% endif %}
                    <a class="mr-2" style="color:#40826D;" onmouseover="this.style.color='#9FE2BF';" onmouseout="this.style.color='#40826D';" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'forum:post-detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4"href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4"href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4"href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
{% endblock content %}
