{% extends 'lyve/base.html' %}

{% block content %}
<div class="form-container" style="width: 80%">
    <form method="post">
        {% csrf_token %}
        <div class="mb-4 text-center">
            <label class="form-label">{{ form.category.label }}</label>
            {{ form.category }}
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-md-4 text-center">
                <label class="form-label">{{ form.item1.label }}</label>
                {{ form.item1 }}
            </div>
            <div class="col-md-4 text-center">
                <label class="form-label">{{ form.item2.label }}</label>
                {{ form.item2 }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success mt-3">Compare Items</button>
        </div>
    </form>
</div>
{% endblock %}
