{% extends 'lyve/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .custom-settings-button {
        background-color: #40826D;
        border-radius: 10px;
        padding: 6px 16px;
        width: 90px;
        transition: background-color 0.3s ease-in-out;
    }

    .custom-settings-button:hover {
        background-color: #1e3b31;
    }

    .profile-label {
        font-weight: bold;
        margin-right: 6px;
    }

    .profile-info {
        font-size: 1rem;
        margin-bottom: 6px;
    }
</style>

<div class="container mx-auto p-8 flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-8 text-center">Welcome {{ user_profile.user.first_name|capfirst }}{{ user_profile.user.last_name|capfirst }}</h1>

    <!-- Profile Picture -->
    <div class="flex justify-center mb-6">
        <img id="profileImage"
             src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}https://via.placeholder.com/150{% endif %}"
             alt="Profile Picture"
             class="rounded-full border-2 border-gray-300"
             style="width: 150px; height: 150px; object-fit: cover;">
    </div>

    <!-- User Info -->
    <div class="text-center mb-6">
        <p class="profile-info"><span class="profile-label">Name:</span> {{ user_profile.user.first_name|default:"-" }}</p>
        <p class="profile-info"><span class="profile-label">Surname:</span> {{ user_profile.user.last_name|default:"-" }}</p>
        <p class="profile-info"><span class="profile-label">Username:</span> {{ user_profile.user.username }}</p>
        <p class="profile-info"><span class="profile-label">Email:</span> {{ user_profile.user.email|default:"-" }}</p>
    </div>

    <!-- Settings -->
    {% if user_profile.user == request.user %}
    <div>
        <a href="{% url 'settings_page' %}" class="custom-settings-button text-white text-sm font-medium">Settings</a>
    </div>
    {% endif %}
</div>

{% endblock %}
